/* body {
} */

.container {
    background-color: black;
    width: 275px;
    height: 500px;
    border-radius: 50px;
}

.top-container {
    overflow: auto;
    padding-top: 50px;
    margin-bottom: -20px;
    /* margin-left: 20px; */
    margin-right: 25px;
    /* height: 100px; */
}

.bottom-container {
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

button {
    border: 0px;
    border-radius: 50px;
    margin: 3px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.grey {
    width: 50px;
    background-color: #b6b6b6;
}

.dark-grey {
    width: 50px;
    color: #ffffff;
    background-color: #333333;
}

.orange {
    width: 50px;
    color: #ffffff;
    background-color: #ff8800;
}

/* .grey:hover { */
.grey:active {
    transition-duration: 5s;
    background-color: #ffffff;
}

.wider-button {
    width: 110px;
    /* text-align: left; */
    /* padding-left: 10px;
    padding-right: 10px; */
}